body {
    background-image: url("DabbingBaymax-removebg-preview.png");
    background-color: rgb(93, 93, 93);
    background-size: 25%;
    
}
h1,h2{
    color: white;
}
a {
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(186, 184, 211, 0.9);
    border-radius: 5px;
    padding: 5px;
}
a:hover{
    font-size: 20px;
    font-style: italic;
    background-color: rgba(208, 211, 184, 0.9);

}
div{
    border: 5px solid black;
    background-color: rgba(245, 222, 179,.85);
    padding: 30px 25px;
    margin: 5px;
    text-align: center;
}
img{
    position: relative;
    top: 15px;
}
.wel{
    text-align: left;
    background-color: rgba(207, 172, 172, 0.418);
    border: 5px solid black;
    margin: 5px;
}
